<div>

  <table data-toggle="table">
    <thead>
      <tr>
        <th data-field="stocks">Stocks</th>
        <th data-field="worth">Net Worth</th>
        <th data-field="bid">Bid</th>
        <th data-field="ask">Ask</th>
      </tr>
    </thead>
    <tbody>
    </tbody>

  </table>
</div>
